<div class='edit_user_dialog_wrapper'>
    <section fxLayout="column" fxLayoutAlign="center center">
        <h1 mat-dialog-title>{{this.data.dialogTitle}}</h1>
        <mat-dialog-content class="diag_content">
            <user-data-form [userData]="this.data.user" [submitCallback]="this.submitCallback"
                [submitBtnTitle]="this.data.submitBtnTitle" [allowDelete]="this.data.allowDelete"></user-data-form>
        </mat-dialog-content>
        <mat-dialog-actions>
            <button mat-raised-button color="primary" (click)="closeDialog()">Close</button>
        </mat-dialog-actions>
    </section>
</div>